<link
  rel="stylesheet"
  href="/nz-form.css"/>


<div nz-row nzJustify="space-evenly">
<div nz-col nzSpan="12" class="form-container">
  <form [formGroup]="validateForm" #f="ngForm" class="login" (ngSubmit)="submitForm()" nz-form>
    <h3>User Login</h3>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter Valid Email!">
        <div class="label">Email</div>
        <nz-input-group nzPrefixIcon="mail">
          <input style="width:100%" class="textInput" email formControlName="email" nz-input type="email" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <div class="label" style="text-align:left;">Password</div>
        <nz-input-group nzPrefixIcon="lock">
          <input style="width:100%" class="textInput" formControlName="password" nz-input type="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">Log in</button>
      </nz-form-control>
    </nz-form-item>
    <h4 class="error">{{loginError}}</h4>
  </form>
</div>
</div>



