form.login{
  margin:15vh auto;
  text-align: center;
}

.textInput{
  width:60%;
}

.form-container{
  text-align: center;
  
}

form.login .error{
  color:red;
}

h5.label{
  margin:1vh 0;
  text-align:left;
}

input:-internal-autofill-selected {
  background-color: rgba(0,0,0,0) !important;
}



/* form.login h3{
  color:white;
} */

