form.login{
  margin:15vh auto;
  text-align: center;
}

.textInput{
  width:60%;
}

.form-container{
  text-align: center;
  
}

form.login .error{
  color:red;
}

div.label{
  margin:1vh 0;
  text-align:left;
}

/* form.login h3{
  color:white;
} */

