<nz-modal [(nzVisible)]="isModalOpen" [nzTitle]="inviteUserModalTitle" (nzOnCancel)="closeModal()" (nzOnOk)="handleModalOk()">
  <ng-container *nzModalContent>
    <p>Name:</p>
    <input nz-input type="text" [(ngModel)]="inviteUserModalName"><br/><br/>
    <ng-container *ngIf="inviteUserModalCreateMode">
      <p>Email:</p>
      <input nz-input type="email" [(ngModel)]="inviteUserModalEmail"><br/><br/>
    </ng-container>
    
    <p>Channel Access</p>
    <div *ngIf="!channels.length">No Channles Added!</div>
    <nz-tabset *ngIf="channels.length">
      <nz-tab *ngFor="let channel of channels" [nzTitle]="channel">
        <label nz-checkbox [(ngModel)]="inviteUserModalAccesses[channel].read">Read</label> 
        <label nz-checkbox [(ngModel)]="inviteUserModalAccesses[channel].write">Write</label> 
        <label nz-checkbox [(ngModel)]="inviteUserModalAccesses[channel].delete">Delete</label>
      </nz-tab>
    </nz-tabset>

    <div class="error" >{{submitError}}</div>
    
  </ng-container>
</nz-modal>
