<div nz-row nzJustify="space-evenly">
  <div nz-col nzSpan="12" class="form-container">
    <form [formGroup]="validateForm" #f="ngForm" class="password" (ngSubmit)="submitForm()" nz-form>
      <h3>Set Password to Continue</h3>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter Password">
          <div class="label">Password</div>
          <nz-input-group>
            <input style="width:100%" class="textInput" formControlName="password" nz-input type="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <div class="label">Confirm Password</div>
          <nz-input-group>
            <input style="width:100%" class="textInput" formControlName="confirmPassword" nz-input type="password" placeholder="Confirm Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">Log in</button>
        </nz-form-control>
      </nz-form-item>
      <h4 class="error">{{passwordError}}</h4>
    </form>
  </div>
  </div>